.App {
  text-align: center;
}

.title {
  font-size: 300%;
  margin: 10px 0px 20px 0px;
}

.main-container {
  max-width: 60ch;
  margin: auto;
}

.wordList .matchCount {
  font-size: 80%;
  font-style: italic;
  color: grey;
}

.wordList .shortest {
  font-weight: bolder;
  margin: 3px auto 10px auto;
  cursor: pointer;
  display: inline-block;
}

.wordList .searchTitle {
  font-size: 100%;
  margin: 10px auto;
}

.wordList .word {
  cursor: pointer;
  display: inline-block;
}

.wordList .title {
  border-bottom: black solid;
  width: 14em;
  margin: 10px auto;
  font-size: 100%;
}

.active-word {
  font-size: 150%;
  text-align: center;
}

.verses {
  text-align: left;
  max-width: 60ch;
}

.verses .back-button {
  font-size: 200%;
  cursor: pointer;
  text-align: left;
}

.verse-container {
  margin: 2em auto;
  border-bottom: grey solid;
}

.verse-text {
  margin: 1em auto;
  font-size: 90%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
