.App {
  text-align: center;
}

.title {
  font-size: 300%;
  margin: 20px 0px;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.list {
  width: 50%;
}

.matchedList .shortest {
  font-weight: bolder;
  margin: 10px 0px;
  cursor: pointer;
  display: inline-block;
}

.matchedList .word {
  cursor: pointer;
  display: inline-block;
}

.active-word {
  font-size: 150%;
  text-align: center;
}

.verses {
  text-align: left;
  max-width: 60ch;
}

.verse-container {
  margin: 2em auto;
  border-bottom: grey solid;
}

.verse-text {
  margin: 1em auto;
  font-size: 90%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
